<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-163972291-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-163972291-1');
    </script>

    <!-- Hotjar Tracking Code for lets.trade -->
    <script>
        (function (h, o, t, j, a, r) {
            h.hj = h.hj || function () {
                (h.hj.q = h.hj.q || []).push(arguments)
            };
            h._hjSettings = { hjid: 1774823, hjsv: 6 };
            a = o.getElementsByTagName('head')[0];
            r = o.createElement('script');
            r.async = 1;
            r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
            a.appendChild(r);
        })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Cryptocurrency Trading Company">
    <meta property="og:description"
        content="Top-3 | Bitcoin - Ethereum - Ripple | Developing our own trading and risk management strategy.">
    <meta name="Description"
        content="Top-3 | Bitcoin - Ethereum - Ripple | Developing our own trading and risk management strategy.">
    <meta name="keywords" content="Trading, Cryptocurrency">

    {% block robots %}
    {% endblock robots %}

    <link rel="icon" href="../static/img/favicon.svg" sizes="any" type="image/svg+xml">
    <link rel="icon" href="../static/img/favicon-48x48.png" sizes="48x48" type="image/png">
    <link rel="stylesheet" type="text/css" href="../static/css/style.bundle.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <title>Cryptocurrency Trading Company</title>
    <script>
        let jivosite = document.createElement('script');
        jivosite.src = '//code.jivosite.com/widget/z6TYGQdF03';
        jivosite.setAttribute('async', 'async');
        document.head.appendChild(jivosite)
    </script>

</head>

<body>

    <div class="main">

        <div class="menu-popup">
            <div class="menu-popup__body">
                <a href="/" class="logo menu-popup__logo"></a>
                <span class="menu-popup__close"></span>
                <ul class="menu-popup__list">
                    <li id="statistics-item"><a class="menu-popup__list-item" href="/#grow">Statistics</a></li>
                    <li id="offers-item"><a class="menu-popup__list-item" href="/#plans">Pricing</a></li>
                    <!-- <li id="offers-item"><a href="/#we-are-for" class="menu-popup__list-item">We are for</a></li> -->
                    <!-- <li id="team-item"><a class="menu-popup__list-item" href="/#team">Dream Team</a></li> -->
                    <li id="guides-item"><a class="menu-popup__list-item" href="/guides">Guides</a></li>
                    <li id="faq-item"><a class="menu-popup__list-item" href="/faq">FAQ</a></li>
                    <li id="tutorials-item">
                        <a class="menu-popup__list-item" href="/#tutorials">What are crypto trading signals?</a>
                    </li>
                </ul>
                <a href="https://t.me/lets_trade_bot" target="_blank"
                    class="header__button header__button_mob">Register</a>
                <!-- <div class="menu-popup__social-block">
                    <a class="social menu-popup__social" href="https://twitter.com/LetsTrade_crypt" target="_blank"><i
                            class="fab fa-twitter"></i></a>
                    <a class="social menu-popup__social" href="https://t.me/lets_trade_bot" target="_blank"><i
                            class="fab fa-telegram-plane"></i></a>
                    <a class="social menu-popup__social" href="https://www.instagram.com/letstrade_crypto/"
                        target="_blank"><i class="fab fa-instagram"></i></a>
                    <a class="social menu-popup__social" href="mailto:info@lets.trade" target="_blank"><i
                            class="far fa-envelope"></i></a>
                </div> -->
            </div>
        </div>

        <header class="header">
            <a href="/" class="logo header__logo"></a>
            <ul class="nav header__nav">
                <li class="nav__item-wrapper"><a href="/#grow" class="nav__item header__item">Statistics</a></li>
                <li class="nav__item-wrapper"><a href="/#plans" class="nav__item header__item">Pricing</a></li>
                <!-- <li class="nav__item-wrapper"><a href="/#we-are-for" class="nav__item header__item">We are for</a></li> -->
                <!-- <li class="nav__item-wrapper"><a href="/#team" class="nav__item header__item">Dream Team</a></li> -->
                <li class="nav__item-wrapper"><a href="/guides" class="nav__item header__item">Guides</a></li>
                <li class="nav__item-wrapper"><a href="/faq" class="nav__item header__item">FAQ</a></li>
            </ul>
            <a href="https://t.me/lets_trade_bot" target="_blank" class="header__button">Register</a>
            <button class="header__menu-btn"></button>
        </header>

        {% block content %}
        {% endblock content %}

        <footer class="footer">
            <div class="footer__body">
                <div class="footer__head">
                    <a href="/" class="logo footer__logo"></a>
                    <div class="footer__social-block">
                        <a class="social footer__social" href="https://twitter.com/LetsTrade_crypt" target="_blank"><i
                                class="fab fa-twitter"></i></a>
                        <a class="social footer__social" href="https://t.me/lets_trade_bot" target="_blank"><i
                                class="fab fa-telegram-plane"></i></a>
                        <a class="social footer__social" href="https://www.instagram.com/letstrade_crypto/"
                            target="_blank"><i class="fab fa-instagram"></i></a>
                        <a class="social footer__social" href="mailto:info@lets.trade" target="_blank"><i
                                class="far fa-envelope"></i></a>
                    </div>
                </div>
                <ul class="nav footer__nav">
                    <li class="nav__item-wrapper footer__item-wrapper">
                        <a href="/#grow" class="nav__item footer__item">Statistics</a>
                    </li>
                    <li class="nav__item-wrapper footer__item-wrapper">
                        <a href="/#plans" class="nav__item footer__item">Pricing</a>
                    </li>
                    <li class="nav__item-wrapper footer__item-wrapper">
                        <a href="/#we-are-for" class="nav__item footer__item">We are for</a>
                    </li>
                    <!-- <li class="nav__item-wrapper footer__item-wrapper">
                        <a href="/#team" class="nav__item footer__item">Dream Team</a>
                    </li> -->
                    <!-- <li class="nav__item-wrapper">
                        <a href="/#we-are-for" class="nav__item footer__item">We are for</a>
                    </li> -->
                    <li class="nav__item-wrapper footer__item-wrapper">
                        <a href="/guides" class="nav__item footer__item">Guides</a>
                    </li>
                    <li class="nav__item-wrapper footer__item-wrapper">
                        <a href="/faq" class="nav__item footer__item">FAQ</a>
                    </li>
                    <li class="nav__item-wrapper footer__item-wrapper">
                        <a href="/#tutorials" class="nav__item footer__item">What are crypto trading signals?</a>
                    </li>
                </ul>
                <div class="footer__social-block footer__social-block-mob">
                    <a class="social footer__social" href="https://twitter.com/LetsTrade_crypt" target="_blank"><i
                            class="fab fa-twitter"></i></a>
                    <a class="social footer__social" href="https://t.me/lets_trade_bot" target="_blank"><i
                            class="fab fa-telegram-plane"></i></a>
                    <a class="social footer__social" href="https://www.instagram.com/letstrade_crypto/"
                        target="_blank"><i class="fab fa-instagram"></i></a>
                    <a class="social footer__social" href="mailto:info@lets.trade" target="_blank"><i
                            class="far fa-envelope"></i></a>
                </div>
                <div class="footer__links-mob">
                    <a class="footer__copyright-text footer__copyright-text_link"
                        href="../static/pdf/Terms_of_Service_eng.pdf" target="_blank">Terms of Service</a>
                    <a class="footer__copyright-text footer__copyright-text_link"
                        href="../static/pdf/PRIVACY_POLICY_eng.pdf" target="_blank">Privacy Policy</a>
                </div>
            </div>
            <div class="footer__copyright">
                <p class="footer__copyright-text">© Lets.Trade, 2020, All Rights Reserved</p>
                <div class="footer__copyright-links">
                    <a class="footer__copyright-text footer__copyright-text_link"
                        href="../static/pdf/Terms_of_Service_eng.pdf" target="_blank">Terms of Service</a>
                    <a class="footer__copyright-text footer__copyright-text_link"
                        href="../static/pdf/PRIVACY_POLICY_eng.pdf" target="_blank">Privacy Policy</a>
                </div>
            </div>
        </footer>

    </div>

    <script src="../static/js/bundle.js" defer></script>
</body>

</html>