<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Lets.Trade"/>
    <meta property="og:description" content="Lets.Trade"/>
    <link rel="icon" href="favicon.svg" sizes="any" type="image/svg+xml">
    <link rel="icon" href="favicon-48x48.png" sizes="48x48" type="image/png">
    <link rel="stylesheet" type="text/css" href="../static/css/style.bundle.css">
    <title>Lets.Trade</title>
</head>
<body {% if not session.terms %} class="body-popup-active" {% endif %}>

<div class="main">

    {% if not session.terms %}

    <div class="session">

        <div class="session__container">
            <div class="policy">
                <h2 class="policy__title">Terms of use</h2>
                <ol class="policy__ol">
                    <p class="policy__text">Last update: 01.01.2020 <br><br>
                        The present Terms of Use constitute a legal agreement between You and Lets.Trade governing Your
                        individual use of the Lets.Trade website located at http://lets.trade/ (the "Site"), as well as
                        the
                        use of any other websites operated by us or on our behalf, and any related mobile applications,
                        products, software, programs, tools, internet services, components and any updates provided by
                        us. <br><br>
                        Please read these Terms of Use carefully as they contain important legal terms and conditions,
                        including provisions that limit our liability to You and require individual arbitration for any
                        potential legal dispute. <br><br>
                        The Site is intended solely for persons residing in jurisdictions where the provision of Site
                        content is lawful. If You choose to access the Site from other locations, You do so at Your own
                        initiative and own risk, and You are responsible for compliance with local laws. <br><br>
                        We reserve the right to restrict access to the Site to any person, geographic area outside the
                        jurisdiction where the Site is located, at any time and in our sole discretion, and to limit the
                        number of any services or products we provide. <br><br>
                        You are not allowed to use the Site if You are a resident or registered in the USA, UK, EU,
                        Russian
                        Federation, Ukraine or countries included in the sanctions list, such as Cuba, Iran, North
                        Korea,
                        Sudan, Crimea and Syria. <br><br>
                        If any provision is found to be illegal, invalid or for any reason unenforceable, that provision
                        shall be deemed severable and shall not affect the validity and enforceability of any other
                        provisions of the Terms of Use. <br><br>
                        The Site may contain links to third party websites or services that do not belong to us, so we
                        are
                        not responsible for the content of any third-party websites or services. You also acknowledge
                        and
                        agree that Lets.Trade is not responsible, directly or indirectly, for any damage or loss caused
                        or
                        alleged to be caused by or related to the use of the content, goods or services available on the
                        Site.
                    </p>
                    <li class="policy__li policy__li_bold">General Provisions:
                        <ol class="policy__ol_outside">
                            <p class="policy__text">By using the Site, You acknowledge that You have read, understand
                                and agree to be bound
                                by these Terms of Use and our Privacy Policy published on the Site. <br><br>
                                If You do not agree with the terms and conditions contained in the Terms of Use and/or
                                Privacy Policy, please do not use the Site, and do not use any information published on
                                it. <br><br>
                                You confirm that You are over 18 years old, as the Site is not intended for persons
                                under 18 years of age. If a user under 18 years of age registers with the Site, the Site
                                will cancel that user's account.
                            </p>
                        </ol>
                    </li>
                    <li class="policy__li policy__li_bold">Legal status
                        <ol class="policy__ol_outside">
                            <p class="policy__text">The Site is not a stock exchange, custodian, financial institution,
                                payment system or
                                payment transaction operator. <br><br>
                                The Site does not have any access to Your virtual currencies, bank accounts, credit
                                cards, private keys, passwords, etc. <br><br>
                                The Site has no control over Your transactions and/or activities. <br><br>
                                The Site does not support or recommend any particular virtual currency, transaction or
                                purchase strategy. You acknowledge and agree that all decisions on transactions are made
                                solely by You and we are not responsible for the results of Your decisions.
                            </p>
                        </ol>
                    </li>
                    <li class="policy__li policy__li_bold">Disclaimer of liability
                        <ol class="policy__ol_outside">
                            <p class="policy__text">You understand that the content published on the Site does not
                                constitute a recommendation that any particular security, cryptocurrency, the securities
                                portfolio, transactions or investment strategy is appropriate for any particular person.
                                You also understand that none of the authors, information providers, application
                                providers or their affiliates personally advise You regarding the nature, potential
                                value or suitability of any particular security, securities portfolio, transaction,
                                investment strategy or other matter. <br><br>
                                To the extent that any content published on the Site can be considered investment advice
                                or recommendations in connection with specific protection, such information is
                                impersonal and not tailored to the investment needs of any particular person. <br><br>
                                You understand that investments in any securities or assets in digital (virtual)
                                currency are subject to a number of risks and that discussions of any assets published
                                on the Site will not include a list or description of the relevant risk factors. In
                                addition, please note that some of the assets about which content is published on the
                                Site have low market capitalization and insufficient public offering. Such assets are
                                subject to greater risk than the shares of larger companies, including greater
                                volatility, lower liquidity and less publicly available information. <br><br>
                                Publications or content on the Site that You may or may not consider recommendations may
                                affect asset prices. <br><br>
                                You understand that the Site may from time to time contain opinions on securities or
                                cryptocurrencies mentioned in other Lets.Trade products and that opinions in one
                                publication or product may differ from those in another blog or product. <br><br>
                                You understand and agree that participants in the content or their affiliates may write
                                about assets against which they or their firms have an interest and that they may trade
                                at their own expense and that they may or may not be subject to the disclosure policy.
                                In cases where Lets.Trade learns that one of its employees has violated its disclosure
                                obligations, Lets.Trade will take appropriate action. In addition, third party bloggers
                                or content participants may be subject to certain restrictions on trading for their own
                                account. <br><br>
                                However, You understand and agree that during any transaction You enter into, one or
                                more content participants or their affiliates may have a position in the securities or
                                assets in the digital (virtual) currency described. <br><br>
                                From time to time, You may refer to previous articles and opinions we have published on
                                the Site. These links may be selective, may only refer to part of an article or opinion,
                                and are unlikely to be relevant. As markets are constantly changing, previously
                                published information and data may not be up to date and should not be relied
                                upon. <br><br>
                                All content on the Site is provided only as of the date of publication or designation
                                and may be replaced by subsequent events on the market or for other reasons. In
                                addition, it is Your responsibility to configure the cache settings in Your browser to
                                ensure that You receive the latest data. <br><br>
                                The Site is not intended to provide tax, legal, insurance or investment advice, and
                                nothing on the Site should be construed as an offer to sell or buy, or a recommendation
                                from Lets.Trade regarding any security or digital (virtual) currency. <br><br>
                                You are solely responsible for determining whether any investment, securities or any
                                other product or service is suitable or appropriate for You based on Your investment
                                objectives and personal and financial condition. <br><br>
                                The Site is not liable for any direct, indirect, incidental, special or consequential
                                damages, including, but not limited to, damages for loss of profits, data, goodwill,
                                business interruption, or any other commercial or immaterial damages resulting
                                therefrom: <br>
                                <br> - Your use or inability to access and/or use the Site;
                                <br> - Using any content obtained from the Site;
                                <br> - Unauthorized access, use or alteration of Your transactions or content.
                                <br><br>You agree to comply with all applicable laws, including, but not limited to,
                                securities
                                and financial markets laws, anti-money laundering and anti-counterfeiting laws, consumer
                                protection laws, and financial laws. <br><br>
                                We are not responsible for violations of the law by users. <br><br>
                                You use the Site at Your own risk.
                            </p>
                        </ol>
                    </li>
                    <li class="policy__li policy__li_bold">Users accounts
                        <ol class="policy__ol_outside">
                            <p class="policy__text">
                                To access some of the services available on the Site, You must create an account. By
                                creating this account, You agree to the following: <br>
                                <br> - You can only have one account;
                                <br> - You may not share Your account username and/or password with anyone, nor may You
                                knowingly share or allow access to Your account;
                                <br> - You may not use another user's account;
                                <br> - You must provide accurate and complete information when creating Your account;
                                <br>You are solely responsible for the activities that occur in Your account and You
                                must
                                keep the password from Your account secure;
                                <br>You must immediately notify us of any breach of security or unauthorized use of Your
                                account. <br><br>
                                You are responsible for any use of Your account or password and for any damage to
                                Lets.Trade or others resulting from such unauthorized use. <br><br>
                                The Site is not responsible for Your losses caused by unauthorized use of Your account.
                                <br><br>
                                Lets.Trade has the right to terminate Your access to the Site in its sole discretion.

                            </p>
                        </ol>
                    </li>
                    <li class="policy__li policy__li_bold">Restrictions on the use of content
                        <ol class="policy__ol_outside">
                            <p class="policy__text">
                                You are not allowed to use, copy, sell, decompile, republish, upload, publish, transmit,
                                distribute, create derivative works or otherwise use the content from the Site without
                                the permission of the Site administration. <br><br>
                                You may not post or transmit any content on the Site that is false, misleading, or
                                distorting. <br><br>
                                You are not allowed to post or transmit any content on the Site that is illegal or
                                harmful to others, contains software viruses or other harmful computer code, files or
                                programs that are threatening, offensive or obscene. <br><br>
                                You are not allowed to post or transmit any content that violates privacy, violates or
                                may violate any rights of others, including but not limited to copyright and other
                                intellectual property rights.
                            </p>
                        </ol>
                    </li>
                    <li class="policy__li policy__li_bold">Responsibility for providing content
                        <ol class="policy__ol_outside">
                            <p class="policy__text">
                                Each user is fully responsible for everything he publishes on the Site. <br><br>
                                Lets.Trade does not check and does not intend to check any comments posted on the Site.
                                <br><br>
                                The Site does not guarantee the accuracy, integrity or quality of all content that may
                                appear on the Site by posting it by users. <br><br>
                                The Site reserves the right but is not obliged to delete comments and block user
                                accounts that violate the rules of using the Site.
                            </p>
                        </ol>
                    </li>
                    <li class="policy__li policy__li_bold">Disclosure of information
                        <ol class="policy__ol_outside">
                            <p class="policy__text">
                                The Site reserves the right to access, read, store and disclose any user information
                                (whether or not it is published) or any other information that we believe is reasonably
                                necessary for us: <br>
                                <br> - Compliance with applicable laws,
                                <br> - Compliance with the Terms of Use, including investigation of possible violations,
                                <br> - Detecting, preventing or solving fraud, security or technical problems,
                                <br> - Protecting the rights, property or safety of Lets.Trade, its users or the public.
                            </p>
                        </ol>
                    </li>
                    <li class="policy__li policy__li_bold">Disclaimer of warranties
                        <ol class="policy__ol_outside">
                            <p class="policy__text">
                                The Site, any product or service received or available on the Site is provided "as it
                                is" and without warranty of any kind, express or implied. <br><br>
                                No oral or written information or advice provided by us does not imply a warranty not
                                expressly stated in these Terms of Use.
                            </p>
                        </ol>
                    </li>
                    <li class="policy__li policy__li_bold">Validity of the Terms of Use
                        <ol class="policy__ol_outside">
                            <p class="policy__text">
                                Even after termination of Your use of the Site or after Your access to the Site is
                                terminated, these Terms of Use remain in force. <br><br>
                                All the terms and conditions under which You have used the Site will remain in effect
                                even after Your account and all data associated with You have been completely deleted.
                                <br><br>
                                In addition, after deleting Your account, we reserve the right to use intellectual
                                property on all information that has been published by You on the Site.
                            </p>
                        </ol>
                    </li>
                    <li class="policy__li policy__li_bold">Amendments
                        <ol class="policy__ol_outside">
                            <p class="policy__text">
                                The Site reserves the right at any time to: <br>
                                <br> - change the terms and conditions of use of the Site;
                                <br> - change the Site at any time without prior notice, including changing or deleting
                                any
                                content and/or features of the Site;
                                <br> - collect fees, charges or other payments for the use of the Site or parts thereof
                                (with
                                notice to users). <br><br>
                                By continuing to use the Site, the user accepts the above changes.

                            </p>
                        </ol>
                    </li>
                    <li class="policy__li policy__li_bold">Intellectual Property Rights
                        <ol class="policy__ol_outside">
                            <p class="policy__text">
                                All text, graphics, patents, applications, editorial content, data, formatting,
                                graphics, drawings, HTML, images, software and other content of the API, website, etc.
                                (collectively, "Own Materials") that You see or read on the Site belong to us. <br><br>
                                Own Materials are protected.
                            </p>
                        </ol>
                    </li>
                </ol>
            </div>
        </div>

        <footer class="session-footer">
            <div class="session-footer__content">
                <a class="session-footer__link" href="/get_session?next={{request.path}}">I Agree</a>
            </div>
        </footer>
    </div>

    {% endif %}

    <header class="header">
        <a href="/" class="logo"></a>
        <ul class="nav header__nav">
            <li class="nav__item-wrapper"><a href="/statistics" class="nav__item header__item">Statistics</a></li>
            <li class="nav__item-wrapper"><a href="/#offers" class="nav__item header__item">Pricing</a></li>
            <li class="nav__item-wrapper"><a href="/#team" class="nav__item header__item">Dream Team</a></li>
            <li class="nav__item-wrapper"><a href="/guides" class="nav__item header__item">Guides</a></li>
            <li class="nav__item-wrapper"><a href="/faq" class="nav__item header__item">FAQ</a></li>
            <li class="nav__item-wrapper">
                <div class="button-border header__button-border"><a href="/" class="button">What are Crypto Signals?</a>
                </div>
            </li>
        </ul>
        <button class="header__menu-btn"></button>
    </header>

    {% block content %}
    {% endblock content %}

    <footer class="footer">
        <div class="footer__body">
            <div class="footer__head">
                <span class="logo"></span>
                <div class="footer__social-block">
                    <a class="social footer__social" href="https://twitter.com/LetsTrade_crypt"
                       target="_blank"><i class="fab fa-twitter"></i></a>
                    <a class="social footer__social" href="https://t.me/lets_trade_bot"
                       target="_blank"><i class="fab fa-telegram-plane"></i></a>
                    <a class="social footer__social" href="https://www.instagram.com/letstrade_crypto/"
                       target="_blank"><i class="fab fa-instagram"></i></a>
                    <a class="social footer__social" href="mailto:info@lets.trade"
                       target="_blank"><i class="far fa-envelope"></i></a>
                </div>
            </div>
            <ul class="nav footer__nav">
                <li class="nav__item-wrapper"><a href="/statistics" class="nav__item footer__item">Statistics</a></li>
                <li class="nav__item-wrapper"><a href="/#offers" class="nav__item footer__item">Pricing</a></li>
                <li class="nav__item-wrapper"><a href="/#team" class="nav__item footer__item">Dream Team</a></li>
                <li class="nav__item-wrapper"><a href="/guides" class="nav__item footer__item">Guides</a></li>
                <li class="nav__item-wrapper"><a href="/faq" class="nav__item footer__item">FAQ</a></li>
                <li class="nav__item-wrapper"><a href="/" class="nav__item footer__item">What are Crypto Signals?</a>
                </li>
            </ul>
        </div>
        <div class="footer__copyright">
            <p class="footer__copyright-text">© Lets.Trade, 2020, All Rights Reserved</p>
            <div class="footer__copyright-links">
                <a class="footer__copyright-text footer__copyright-text_link"
                   href="../static/pdf/Terms_of_Service_eng.pdf" target="_blank">Terms of Service</a>
                <a class="footer__copyright-text footer__copyright-text_link"
                   href="../static/pdf/PRIVACY_POLICY_eng.pdf" target="_blank">Privacy Policy</a>
            </div>
        </div>
    </footer>

</div>

<script src="../static/js/bundle.js" defer></script>
</body>
</html>