{% extends "base.html" %}

{% block content %}

<div class="faq container">
    <div class="bar faq__bar">
        <div class="bar__item">
            <p class="bar__title">How can I join?</p>
            <p class="bar__text">You can join our community via Telegram Bot or click the link below for subscription
                plans.</p>
            <div class="button-border bar__button"><a href="/" class="button">Subscriptions</a></div>
        </div>
        <div class="bar__item">
            <p class="bar__title">How much can I earn?</p>
            <p class="bar__text">Go to the next page, there you will learn how to make money using signals</p>
            <div class="button-border bar__button"><a href="/" class="button">Statistics</a></div>
        </div>
    </div>

    <div class="block-content faq__content">
        <h2 class="block-content__title">Frequently asked questions</h2>
        <div class="block-content__wrapper">
            <div class="tab tab_active">
                <span class="tab__expand tab__expand_active"></span>
                <h3 class="tab__title">What are crypto signals?</h3>
                <p class="tab__text tab__text_active">Crypto signals are just normal notifications relevant to the trader. They
                    notify you about when and which coin you need to buy. Trading signals are sort of insider
                    information regarding the upcoming changes on the price of a specified commodity (coin in our case).
                    Despite being similar to the insider information, such data is collected not from the illicit “intel
                    traders” but through profound market analysis.</p>
            </div>
            <div class="tab">
                <span class="tab__expand"></span>
                <h3 class="tab__title">Are there any specific requirements for trading?</h3>
                <p class="tab__text">Crypto signals are just normal notifications relevant to the trader. They
                    notify you about when and which coin you need to buy. Trading signals are sort of insider
                    information regarding the upcoming changes on the price of a specified commodity (coin in our case).
                    Despite being similar to the insider information, such data is collected not from the illicit “intel
                    traders” but through profound market analysis.</p>
            </div>
            <div class="tab">
                <span class="tab__expand"></span>
                <h3 class="tab__title">What do I need to subscribe to crypto signals?</h3>
                <p class="tab__text">Crypto signals are just normal notifications relevant to the trader. They
                    notify you about when and which coin you need to buy. Trading signals are sort of insider
                    information regarding the upcoming changes on the price of a specified commodity (coin in our case).
                    Despite being similar to the insider information, such data is collected not from the illicit “intel
                    traders” but through profound market analysis.</p>
            </div>
        </div>
    </div>

</div>

{% endblock content %}