{% extends "base.html" %}

{% block content %}

<div class="faq container">
    <div class="bar faq__bar">
        <div class="bar__item">
            <h4 class="bar__title">How can I join?</h4>
            <p class="bar__text">
                You can join our community via <a
                    class="bar__link" href="https://t.me/lets_trade_bot" target="_blank">Telegram Bot</a> or click
                the link below for subscription plans.</p>
            <div class="button-border bar__button"><a href="/#plans" class="button">Subscriptions</a></div>
        </div>
        <div class="bar__item">
            <h4 class="bar__title">How much can I earn?</h4>
            <p class="bar__text">Go to the <a class="bar__link" href="/statistics2019">Statistics</a>, there you will learn
                how much money you can earn using signals</p>
            <div class="button-border bar__button"><a href="/statistics2019" class="button">Statistics</a></div>
        </div>
    </div>

    <div class="block-content faq__content">
        <h1 class="block-content__title">Frequently asked questions</h1>
        <div class="block-content__wrapper">
            <div class="tab tab_active">
                <span class="tab__expand tab__expand_active"></span>
                <h3 class="tab__title">What are crypto signals?</h3>
                <p class="tab__text tab__text_active">Crypto signals are just normal notifications relevant to the
                    trader. They notify you about when and which coin you need to buy. Trading signals are sort of
                    insider information regarding the upcoming changes on the price of a specified commodity (coin in
                    our case). Despite being similar to the insider information, such data is collected not from the
                    illicit “intel traders” but through profound market analysis.</p>
            </div>
            <div class="tab">
                <span class="tab__expand"></span>
                <h3 class="tab__title">Are there any specific requirements for trading?</h3>
                <p class="tab__text">There are no specific requirements for the trading, though on Bitstamp you need to
                    be at least 18 years old. Due to the verification procedure, you will not be able to overcome this
                    milestone. Still, there are some other exchanges that don’t have one and allow to trade without age
                    restrictions.</p>
            </div>
            <div class="tab">
                <span class="tab__expand"></span>
                <h3 class="tab__title">What do I need to subscribe to crypto signals?</h3>
                <p class="tab__text">To purchase a subscription, you need to do it with cryptocurrency. If you don’t
                    have it, there is always an option to acquire it on your balance directly on Bitstamp or other
                    exchanges. Also, you will need to download Telegram to be able to connect with our bot for receiving
                    signals.</p>
            </div>
            <div class="tab">
                <span class="tab__expand"></span>
                <h3 class="tab__title">What do I need for registration on the Bitstamp exchange?</h3>
                <p class="tab__text">For the registration, you will need to have documents verifying your identity due
                    to the verification procedure. Nothing specific is required.</p>
            </div>
            <div class="tab">
                <span class="tab__expand"></span>
                <h3 class="tab__title">How do I make a deposit on Bitstamp exchange?</h3>
                <p class="tab__text">After you have verified your account, you need to deposit funds before starting
                    trading. <br>
                    You can transfer funds through any preferred deposit method.
                    Cryptocurrencies that are supported at Bitstamp exchange can be purchased directly via bank card
                    deposit by using your MasterCard or Visa credit/debit cards.
                </p>
            </div>
            <div class="tab">
                <span class="tab__expand"></span>
                <h3 class="tab__title">Why do you work with Bitstamp only?</h3>
                <p class="tab__text">It is better to stay linked to one exchange, so the signals would have the most
                    exact timing. It acts under the UK legislation and has approved safety by over 3 million traders. It
                    also has available BTC, ETH, XRP, LTC and BTH for trading now, along with EUR and USD. It’s simple
                    and secure.</p>
            </div>
            <div class="tab">
                <span class="tab__expand"></span>
                <h3 class="tab__title">On which cryptocurrency exchanges I can use your signals and
                    recommendations?</h3>
                <p class="tab__text">You can use them to trade on Bitstamp or any other well-known and trusted exchange.
                    You can diversify your trades and use 2-3 exchanges (f.e. Coinbase or Kraken) or select just one
                    that you like the most. Staying with one exchange is better for beginners since on different
                    exchanges the momentum price can differ due to the timing differences. That is why we highly
                    recommend checking Bitstamp due to the quotation timing, UK jurisdiction, its status and reputation.
                    Besides, it uses US Dollar instead of USD Tether which is a great point for your risk management
                    strategy.</p>
            </div>
            <div class="tab">
                <span class="tab__expand"></span>
                <h3 class="tab__title">How many signals do you provide per month?</h3>
                <p class="tab__text">We will send you 5-20 signals per month, depending on the market situation and
                    appearing opportunities.</p>
            </div>
            <div class="tab">
                <span class="tab__expand"></span>
                <h3 class="tab__title">What is the share of profitable signals provided?</h3>
                <p class="tab__text">Over 86% of our signals are profitable, so at least 8 money-making deals will be in
                    your pocket each month.</p>
            </div>
            <div class="tab">
                <span class="tab__expand"></span>
                <h3 class="tab__title">How do you know which signals to send me?</h3>
                <p class="tab__text">Our team is build from 5 different specialists who monitor the market daily. With
                    the help of our financial tools, technical and fundamental analysis along with real-time top quotes
                    tracking we design signals for you. Sometimes we use the information provided by our well-known
                    private sources.</p>
            </div>
            <div class="tab">
                <span class="tab__expand"></span>
                <h3 class="tab__title">Is there any trial period for your service or free signals I can use?</h3>
                <p class="tab__text">We are sure in our signals since there is a lot of hard work performed to get each
                    of them and we appreciate what we do. Time and financial investments are done to get this
                    information, so it would be unfair to grant it for free.</p>
            </div>
            <div class="tab">
                <span class="tab__expand"></span>
                <h3 class="tab__title">How to use signals the “right way”?</h3>
                <p class="tab__text">It seems that there is nothing easier than just follow the simple instructions and
                    get the profit. But even for such simple action as following <b>crypto signals</b> you need to have some
                    basic skills. There are several essential indicators: <br>
                    <br>● New buy order – indicates the price level of a coin when to purchase it;
                    <br>● Buy price is changed- delete the old order and place it with the new price;
                    <br>● Change depot- delete the buy order and replace it with the new amount we recommend;
                    <br>● Buy order executed - informs you when buy order is executed;
                    <br>● New sell order – indicates the price level of a coin when to sell it;
                    <br>● Sell price is changed - delete the old sell order and replace it with the new sell price;
                    <br>● Trade is closed - sell order is now closed and we can count profit;
                    <br>● Depot (%) – a share of the deposit recommended for the deal. <br>
                    <br>● Buy price has been reduced - indicates that the price of the order has been reduced by trade
                    profit! <br>
                    <br>By reaching the indicated in the signal price level of a coin, you need to enter the deal as
                    soon as possible. <br><br>
                    There are also several rules you need to follow while using the signals: <br>
                    <br>● In case you have missed the buy signal, and you see that the market is moving down, we suggest
                    you buy according to the market price without waiting further falling.
                    <br>● In case you have missed the sell signal, we suggest you sell according to the market price if
                    it
                    is still profitable. Yes, you will get less, but profit is still profit.
                    <br>● In case you have missed the sell signal and the market price is already non-profitable, we
                    suggest
                    you place a limit order for a sell signal and wait till its realized.
                    <br>● In case you were late with our signal (we understand that everyone has private life and
                    issues),
                    PLEASE, just skip it and wait for the next one. Sometimes, to get momentary benefits people tend to
                    forget about the whole strategy.
                    <br>● Use the “freshest” signals first – those that have been posted on the day you joined us and
                    forward. Don’t use the old signals!
                    <br>● There are days we provide Buy & Hold signals. Additional information is provided for them,
                    like
                    “when you should sell”, since there is no exact sell target.
                </p>
            </div>
            <div class="tab">
                <span class="tab__expand"></span>
                <h3 class="tab__title">Basic trading instructions for the beginners</h3>
                <p class="tab__text">● The money you plan to use for trading should not be your last, saved for
                    someone’s surgery, borrowed, credited or stolen. Never forget, that any market in the world holds
                    the risks and every action should be done there by your own free will. We just provide you the
                    information that can help you make the decision. Always invest only what you are ready to lose
                    without any severe consequences for your life.
                    <br>● Never invest all your capital in one coin (equals to one signal). Our traders always follow
                    the
                    golden rule – use only 2-5% of your capital (your deposit in our case) per signal, depending on its
                    size and how much you want to diversify your coin portfolio. For example, you have $1000, then your
                    investment should not exceed $20-$50 per one signal. This also means that you will always have free
                    assets to enter the market getting access to more profitable deals. Plus, you will secure yourself
                    in case the market will fall down. This is pure risk management in action.
                    <br>● It is no single option to get 100% of profitable signals. This is a very risky market where
                    anything can happen..
                </p>
            </div>
        </div>
    </div>

</div>

{% endblock content %}