{% extends "base.html" %}

{% block content %}

<div class="faq container">
    <div class="bar faq__bar">
        <div class="bar__item">
            <h4 class="bar__title">How can I join?</h4>
            <p class="bar__text">
                You can join our community via <a class="bar__link" href="https://t.me/lets_trade_bot"
                    target="_blank">Telegram Bot</a> or click
                the link below for subscription plans.</p>
            <div class="button-border bar__button"><a href="/#plans" class="button">Subscriptions</a></div>
        </div>
        <!-- <div class="bar__item">
            <h4 class="bar__title">How much can I earn?</h4>
            <p class="bar__text">Go to the <a class="bar__link" href="/statistics2019">Statistics</a>, there you will
                learn
                how much money you can earn using signals</p>
            <div class="button-border bar__button"><a href="/statistics2019" class="button">Statistics</a></div>
        </div> -->
    </div>

    <div class="block-content faq__content">

        <h1 class="block-content__title">Frequently asked questions</h1>
        <div class="block-content__wrapper">
            {% for question in questions %}
            
            <div class="tab {{ 'tab_active' if loop.first }}">
                <span class="tab__expand {{ 'tab__expand_active' if loop.first }}"></span>
                <h3 class="tab__title">{{question.title}}</h3>
                <div class="tab__text {{ 'tab__text_active' if loop.first }}">{{question.body |safe}}</div>
            </div>
            
            {% endfor %}
        </div>
    </div>

</div>

{% endblock content %}