{% extends "base.html" %}

{% block content %}

<div class="guides container">
    <div class="bar guides__bar">
        <div class="bar__item">
            <p class="bar__title">About Guidelines</p>
            <p class="bar__text">All guidelines are carefully assembled and structured. The material is taken from the
                sites of the original sources <a class="bar__link" href="https://bitstamp.net"
                                                 target="_blank">Bitstamp</a> and
                <a class="bar__link" href="https://localbitsoins.com" target="_blank">LocalBitcoins</a>
            </p>
        </div>
        <div class="bar__item">
            <p class="bar__title">How can I join?</p>
            <p class="bar__text">
                You can join our community via <a class="bar__link" href="https://t.me/lets_trade_bot" target="_blank">Telegram
                Bot</a> or click the link below for subscription plans.</p>
            <div class="button-border bar__button"><a href="/#offers" class="button">Subscriptions</a></div>
        </div>
    </div>

    <div class="block-content guides__content">
        <div class="block-content__wrapper">
            <h2 class="block-content__title">Guides with <b class="block-content__title_bold">Localbitcoins.com</b></h2>
            <a href="https://localbitcoins.com/guides/how-to-buy-bitcoins" class="link-item" target="_blank">
                <div class="link-item__body">
                    <p class="link-item__title">LocalBitcoins</p>
                    <p class="link-item__text">How to buy Bitcoins?</p>
                </div>
            </a>
            <a href="https://localbitcoins.com/guides/how-to-sell-bitcoins" class="link-item" target="_blank">
                <div class="link-item__body">
                    <p class="link-item__title">LocalBitcoins</p>
                    <p class="link-item__text">How to sell Bitcoins?</p>
                </div>
            </a>
        </div>
        <div class="block-content__wrapper">
            <h2 class="block-content__title">Guides with <b class="block-content__title_bold">Bitstamp.net</b></h2>
            <a href="https://www.bitstamp.net/faq/how-to-start-trading/" class="link-item" target="_blank">
                <div class="link-item__body">
                    <p class="link-item__title">Bitstamp</p>
                    <p class="link-item__text">How to start trading?</p>
                </div>
            </a>
            <a href="https://www.bitstamp.net/faq/how-to-install-the-bitstamp-mobile-app/"
               class="link-item" target="_blank">
                <div class="link-item__body">
                    <p class="link-item__title">Bitstamp</p>
                    <p class="link-item__text">How to install the Bitstamp mobile app?</p>
                </div>
            </a>
            <a href="https://www.bitstamp.net/faq/how-do-i-deposit-funds-to-my-bitstamp-account/"
               class="link-item" target="_blank">
                <div class="link-item__body">
                    <p class="link-item__title">Bitstamp</p>
                    <p class="link-item__text">How do I deposit funds to my Bitstamp account?</p>
                </div>
            </a>

            <a href="https://www.bitstamp.net/faq/how-can-i-buy-cryptocurrency-with-a-credit-card/"
               class="link-item" target="_blank">
                <div class="link-item__body">
                    <p class="link-item__title">Bitstamp</p>
                    <p class="link-item__text">How can I buy cryptocurrency with a credit card?</p>
                </div>
            </a>
            <a href="https://www.bitstamp.net/faq/how-to-buy-bitcoin/" class="link-item" target="_blank">
                <div class="link-item__body">
                    <p class="link-item__title">Bitstamp</p>
                    <p class="link-item__text">How to buy Bitcoin?</p>
                </div>
            </a>
            <a href="https://www.bitstamp.net/faq/how-to-buy-ether/" class="link-item" target="_blank">
                <div class="link-item__body">
                    <p class="link-item__title">Bitstamp</p>
                    <p class="link-item__text">How to buy Ethereum?</p>
                </div>
            </a>
            <a href="https://www.bitstamp.net/faq/how-to-buy-xrp/"
               class="link-item" target="_blank">
                <div class="link-item__body">
                    <p class="link-item__title">Bitstamp</p>
                    <p class="link-item__text">How to buy XRP?</p>
                </div>
            </a>
            <a href="https://www.bitstamp.net/faq/how-to-verify-your-personal-account/"
               class="link-item" target="_blank">
                <div class="link-item__body">
                    <p class="link-item__title">Bitstamp</p>
                    <p class="link-item__text">How to verify your personal account?</p>
                </div>
            </a>
            <a href="https://www.bitstamp.net/faq/who-sells-and-who-buys-digital-currencies-at-bitstamp/"
               class="link-item" target="_blank">
                <div class="link-item__body">
                    <p class="link-item__title">Bitstamp</p>
                    <p class="link-item__text">Who sells and who buys digital currencies at Bitstamp?</p>
                </div>
            </a>
        </div>
    </div>

</div>

{% endblock content %}