{% extends "base.html" %}

{% block content %}

<div class="guides container">
    <div class="bar guides__bar">
        <div class="bar__item">
            <p class="bar__title">About Guidelines</p>
            <p class="bar__text">All guidelines are carefully assembled and structured. The material is taken from the
                sites of the original sources Bitstamp and LocalBitcoins</p>
        </div>
        <div class="bar__item">
            <p class="bar__title">How can I join?</p>
            <p class="bar__text">You can join our community via Telegram Bot or click the link below for subscription
                plans.</p>
            <div class="button-border bar__button"><a href="/" class="button">Subscriptions</a></div>
        </div>
    </div>

    <div class="block-content guides__content">
        <div class="block-content__wrapper">
            <h2 class="block-content__title">Guides witch <b class="block-content__title_bold">Localbitcoin.com</b></h2>
            <a href="/" class="link-item">
                <div class="link-item__body">
                    <p class="link-item__title">LocalBitcoin</p>
                    <p class="link-item__text">How to buy Bitcoins?</p>
                </div>
            </a>
            <a href="/" class="link-item">
                <div class="link-item__body">
                    <p class="link-item__title">LocalBitcoin</p>
                    <p class="link-item__text">How to sell Bitcoins?</p>
                </div>
            </a>
        </div>
        <div class="block-content__wrapper">
            <h2 class="block-content__title">Guides witch <b class="block-content__title_bold">bitstamp.net</b></h2>
            <a href="/" class="link-item">
                <div class="link-item__body">
                    <p class="link-item__title">Bitstamp</p>
                    <p class="link-item__text">How to start trading?</p>
                </div>
            </a>
        </div>
    </div>

</div>

{% endblock content %}