{% extends "base.html" %}

{% block content %}

<div class="head">

    <div class="head__body">

        <div class="head__content">
            <h1 class="head__title">Cryptocurrency trading signals
                <br>on Telegram with 25,29% yield and
                <br><b class="head__title_bold">86% success</b> rate for Bitstamp exchange</h1>
            <h2 class="head__subtitle">Uniting crypto-enthusiasts in our community to share our success, crypto trading
                analytics and to study trading in the world</h2>
            <form class="form" id="index-form">
                <label class="form__label" for="email">
                    <input class="form__input" name="email" type="text" placeholder="Enter your email" required>
                </label>
                <button class="form__button">Subscribe</button>
            </form>
        </div>

        <div class="head__video-block">
            <video class="head__video">
                <source src="../static/video/head.mp4" type="video/mp4">
            </video>
            <div class="head__video-button"></div>
        </div>

        <div class="head__social-block">
            <a class="social head__social" href="https://twitter.com/LetsTrade_crypt"
               target="_blank"><i class="fab fa-twitter"></i></a>
            <a class="social head__social" href="https://t.me/lets_trade_bot"
               target="_blank"><i class="fab fa-telegram-plane"></i></a>
            <a class="social head__social" href="https://www.instagram.com/letstrade_crypto/"
               target="_blank"><i class="fab fa-instagram"></i></a>
            <a class="social head__social" href="mailto:info@lets.trade"
               target="_blank"><i class="far fa-envelope"></i></a>
        </div>

    </div>

    <div class="head__currency">
        <div class="currency-item">
            <img class="currency-item__img" src="../static/img/bitcoin.png" alt="currency">
            <div>
                <p class="currency-item__title">Bitcoin <b class="currency-item__title_bold">BTC</b></p>
                <p class="currency-item__date">{{ data.BTC.date }}</p>
            </div>
            <div class="currency-item__price-block">
                <p class="currency-item__percent {{'currency-item__percent_negative' if data.BTC.negative}}">
                    ${{ data.BTC.difference }} ({{ data.BTC.percent }}%)</p>
                <p id="live_trades_btcusd" class="currency-item__price">${{ data.BTC.price }}</p>
            </div>
        </div>

        <div class="currency-item">
            <img class="currency-item__img" src="../static/img/ethereum.png" alt="currency">
            <div>
                <p class="currency-item__title">Ethereum <b class="currency-item__title_bold">ETH</b></p>
                <p class="currency-item__date">{{ data.ETH.date }}</p>
            </div>
            <div class="currency-item__price-block">
                <p class="currency-item__percent {{'currency-item__percent_negative' if data.ETH.negative}}">
                    ${{ data.ETH.difference }} ({{ data.ETH.percent }}%)</p>
                <p id="live_trades_ethusd" class="currency-item__price">${{ data.ETH.price }}</p>
            </div>
        </div>

        <div class="currency-item">
            <img class="currency-item__img" src="../static/img/ripple.png" alt="currency">
            <div>
                <p class="currency-item__title">Ripple <b class="currency-item__title_bold">XRP</b></p>
                <p class="currency-item__date">{{ data.XRP.date }}</p>
            </div>
            <div class="currency-item__price-block">
                <p class="currency-item__percent {{'currency-item__percent_negative' if data.XRP.negative}}">
                    ${{ data.XRP.difference }} ({{ data.XRP.percent }}%)</p>
                <p id="live_trades_xrpusd" class="currency-item__price">${{ data.XRP.price }}</p>
            </div>
        </div>
    </div>
</div>


<div class="tutorials">
    <div class="tutorial">
        <img class="tutorial__img" src="../static/img/tutorial1.png" alt="tutorial">
        <a data-fancybox href="#myVideo" class="tutorial__button">What are crypto signals?</a>
    </div>
    <div class="tutorial">
        <img class="tutorial__img" src="../static/img/tutorial2.png" alt="tutorial">
        <a data-fancybox href="#myVideo" class="tutorial__button">Trading success with the signals</a>
    </div>
    <video controls id="myVideo" style="display:none;">
        <source src="../static/video/head.mp4" type="video/mp4">
        Your browser doesn't support HTML5 video tag.
    </video>
</div>


<div class="chart-wrapper">
    <h3 class="chart-wrapper__title">Our <b class="chart-wrapper__title_bold">2019</b> growing
        streak</h3>
    <p class="chart-wrapper__subtitle">We have reached 25,29% of profit just in 12 months by minimizing the risks for
        the main deposit. </p>

    <div class="chart">
        <div class="ct-chart"></div>
    </div>
</div>


<div class="quote">
    <img class="quote__abstract" src="../static/img/abstract.svg" alt="">
    <div class="quote__body">
        <h3 class="quote__title">The bird in the hand is worth two in the bush.</h3>
        <p class="quote__text">Still, everyone can choose own balance between risk and profit.</p>
    </div>
</div>

<div class="benefit-popup">
    <div class="benefit-popup__body" id="benefit-popup-1">
        <span class="benefit-popup__bg"></span>
        <span class="benefit-popup__close"></span>
        <h4 class="benefit-popup__title">Indications and recommendations with comments</h4>
        <p class="benefit-popup__text">Many services provide crypto signals; but with very little information about it
            and why to do so. Fewer services can provide some comments; but we decided to be in the minority, and do
            something that could really
            help you not only earn but learn. Each and every signal includes comments about the expected market
            volatility, technical analysis, and a chart. For beginners, it will help in their education while
            experienced users will be able to compare their own analysis with the provided one.</p>
    </div>
</div>

<div class="benefit-popup">
    <div class="benefit-popup__body" id="benefit-popup-2">
        <span class="benefit-popup__bg"></span>
        <span class="benefit-popup__close"></span>
        <h4 class="benefit-popup__title">Get profit even if a beginner</h4>
        <p class="benefit-popup__text">Using the signals, you don’t need deep experience. Only basic knowledge about how
            to open and close the orders and some brief understanding of the trading world will be enough to start. All
            the analytical work is performed by our team, just follow the signals in time.</p>
    </div>
</div>

<div class="benefit-popup">
    <div class="benefit-popup__body" id="benefit-popup-3">
        <span class="benefit-popup__bg"></span>
        <span class="benefit-popup__close"></span>
        <h4 class="benefit-popup__title">Risk minimization</h4>
        <p class="benefit-popup__text">The primary goal of a trader is to minimize the risk of losing their own capital
            and not to get huge profit. This is why we select the safest deals and follow the risk management strategy.
            Our experience with classy commodities on such stocks as NYSE and CME allowed us to develop a specific
            strategy minimizing the risks. Now we are ready to share it with you.</p>
    </div>
</div>

<div class="benefit-popup">
    <div class="benefit-popup__body" id="benefit-popup-4">
        <span class="benefit-popup__bg"></span>
        <span class="benefit-popup__close"></span>
        <h4 class="benefit-popup__title">Extra services</h4>
        <p class="benefit-popup__text">Besides sending crypto signals, we also help beginners with their integration to
            the trader’s world. The latest market news, useful advices, interesting trading strategies, other education
            materials – all this can be obtained through us.</p>
    </div>
</div>

<div class="benefits">
    <h3 class="benefits__title">Benefits from subscribing to <b class="benefits__title_bold">crypto signals</b> service
    </h3>
    <div class="benefits__body">
        <div class="benefit" id="benefit-1">
            <span class="benefit__bg"></span>
            <div class="benefit__content">
                <h4 class="benefit__title">Indications and recommendations with comments</h4>
                <p class="benefit__text">Indications - Many services provide crypto signals; but with very little
                    information about it and why to do so</p>
                <button class="benefit__button">Read More</button>
            </div>
        </div>
        <div class="benefit" id="benefit-2">
            <span class="benefit__bg"></span>
            <div class="benefit__content">
                <h4 class="benefit__title">Get profit even if a beginner</h4>
                <p class="benefit__text">Using the signals, you don’t need deep experience</p>
                <button class="benefit__button">Read More</button>
            </div>
        </div>
        <div class="benefit" id="benefit-3">
            <span class="benefit__bg"></span>
            <div class="benefit__content">
                <h4 class="benefit__title">Risk minimization</h4>
                <p class="benefit__text">The primary goal of a trader is to minimize the risk of losing their own
                    capital
                    and not to get huge profit</p>
                <button class="benefit__button">Read More</button>
            </div>
        </div>
        <div class="benefit" id="benefit-4">
            <span class="benefit__bg"></span>
            <div class="benefit__content">
                <h4 class="benefit__title">Extra services</h4>
                <p class="benefit__text">Besides sending crypto signals, we also help beginners with their integration
                    to
                    the trader’s world</p>
                <button class="benefit__button">Read More</button>
            </div>
        </div>
    </div>
</div>


<div id="offers" class="offers">
    <h3 class="offers__title">Here are the options <b class="offers__title_bold">to join the community</b> and start
        receiving your crypto signals</h3>

    <div class="offers__body">

        <div class="privileges">
            <p class="privileges__title">Included in the package</p>
            <ul class="privileges__list">
                <li class="privileges__item">Daily market analytics</li>
                <li class="privileges__item">Strict risk management strategy</li>
                <li class="privileges__item">Up to 20 crypto trading signals for
                    <br><span class="privileges__item_cur btc">Bitcoin</span>
                    <span class="privileges__item_cur eth">Ethereum</span>
                    <span class="privileges__item_cur xrp">Ripple</span></li>
                <li class="privileges__item">Detailed and easy to use guides that will help you better navigate the
                    world
                    of cryptocurrencies
                </li>
                <li class="privileges__item">Long term investment portfolio that can make the next big impact in the
                    blockchain market witch can lead over 100,000% in revenue
                </li>
            </ul>
        </div>

        <div class="packages">
            <div class="package">
                <div class="package-details">
                    <div class="package-details__ribbon">25% sale</div>
                    <div class="package-details__body">
                        <p class="package-details__title">1 Month</p>
                        <p class="package-details__subtitle">We accept only:</p>
                        <ul class="package-details__list">
                            <li>Bitcoin</li>
                            <li>Ethereum</li>
                            <li>Ripple</li>
                        </ul>
                        <div class="package-details__cost-wrapper">
                            <p class="package-details__cost">$90 <s class="package-details__cost_strike">$120</s></p>
                            <small class="package-details__cost_small">$90 per month</small>
                        </div>
                    </div>
                    <a class="package-details__button" href="https://t.me/lets_trade_bot">Acquire via Telegram</a>
                </div>
                <div class="package-column">
                    <p class="package-column__title">1 Month</p>
                    <span class="package-column__icon"></span>
                    <span class="package-column__icon"></span>
                    <span class="package-column__icon"></span>
                    <span class="package-column__icon"></span>
                    <span class="package-column__icon"></span>
                </div>
            </div>
            <div class="package package_active">
                <div class="package-details">
                    <div class="package-details__ribbon">25% sale</div>
                    <div class="package-details__body">
                        <p class="package-details__title">3 month</p>
                        <p class="package-details__subtitle">We accept only:</p>
                        <ul class="package-details__list">
                            <li>Bitcoin</li>
                            <li>Ethereum</li>
                            <li>Ripple</li>
                        </ul>
                        <div class="package-details__cost-wrapper">
                            <p class="package-details__cost">$246 <s class="package-details__cost_strike">$330</s></p>
                            <small class="package-details__cost_small">$82.5 per month</small>
                        </div>
                    </div>
                    <a class="package-details__button" href="https://t.me/lets_trade_bot">Acquire via Telegram</a>
                </div>
                <div class="package-column">
                    <p class="package-column__title">3 month</p>
                    <span class="package-column__icon"></span>
                    <span class="package-column__icon"></span>
                    <span class="package-column__icon"></span>
                    <span class="package-column__icon"></span>
                    <span class="package-column__icon"></span>
                </div>
            </div>
            <div class="package">
                <div class="package-details">
                    <div class="package-details__ribbon">25% sale</div>
                    <div class="package-details__body">
                        <p class="package-details__title">6 month</p>
                        <p class="package-details__subtitle">We accept only:</p>
                        <ul class="package-details__list">
                            <li>Bitcoin</li>
                            <li>Ethereum</li>
                            <li>Ripple</li>
                        </ul>
                        <div class="package-details__cost-wrapper">
                            <p class="package-details__cost">$450 <s class="package-details__cost_strike">$600</s></p>
                            <small class="package-details__cost_small">$75 per month</small>
                        </div>
                    </div>
                    <a class="package-details__button" href="https://t.me/lets_trade_bot">Acquire via Telegram</a>
                </div>
                <div class="package-column">
                    <p class="package-column__title">6 month</p>
                    <span class="package-column__icon"></span>
                    <span class="package-column__icon"></span>
                    <span class="package-column__icon"></span>
                    <span class="package-column__icon"></span>
                    <span class="package-column__icon"></span>
                </div>
            </div>
            <div class="package">
                <div class="package-details">
                    <div class="package-details__ribbon">25% sale</div>
                    <div class="package-details__body">
                        <p class="package-details__title">12 month</p>
                        <p class="package-details__subtitle">We accept only:</p>
                        <ul class="package-details__list">
                            <li>Bitcoin</li>
                            <li>Ethereum</li>
                            <li>Ripple</li>
                        </ul>
                        <div class="package-details__cost-wrapper">
                            <p class="package-details__cost">$810 <s class="package-details__cost_strike">$1080</s></p>
                            <small class="package-details__cost_small">$67.5 per month</small>
                        </div>
                    </div>
                    <a class="package-details__button" href="https://t.me/lets_trade_bot">Acquire via Telegram</a>
                </div>
                <div class="package-column">
                    <p class="package-column__title">12 month</p>
                    <span class="package-column__icon"></span>
                    <span class="package-column__icon"></span>
                    <span class="package-column__icon"></span>
                    <span class="package-column__icon"></span>
                    <span class="package-column__icon"></span>
                </div>
            </div>
        </div>
    </div>

    <p class="offers__subtitle">This is a limited offer only for our first 500 clients</p>

</div>


<div class="referral-wrapper">
    <div class="referral">
        <p class="referral__text">Spread the deal with the referral link that you will get via Lets.Trade bot and get
            <b class="referral__text_bold">%10 crypto back</b></p>
        <a class="referral__button" href="https://t.me/lets_trade_bot">Receive</a>
    </div>
</div>


<div id="team" class="team">
    <h3 class="team__title">Our <b class="team__title_bold">dream team</b> of hard-workers, analytics and crypto
        enthusiast</h3>
    <div class="team__persons">
        <div class="team__persons-wrapper">
            <div class="person">
                <img class="person__img" src="../static/img/person.svg" alt="person">
                <p class="person__title">Sensei</p>
                <div class="button-border person__button-border">
                    <button class="button person__button">Details</button>
                </div>
            </div>

            <div class="person">
                <img class="person__img" src="../static/img/person.svg" alt="person">
                <p class="person__title">Speculator</p>
                <div class="button-border person__button-border">
                    <button class="button person__button">Details</button>
                </div>
            </div>
        </div>

        <div class="team__persons-wrapper">
            <div class="person">
                <img class="person__img" src="../static/img/person.svg" alt="person">
                <p class="person__title">Cyber Guy</p>
                <div class="button-border person__button-border">
                    <button class="button person__button">Details</button>
                </div>
            </div>

            <div class="person">
                <img class="person__img" src="../static/img/person.svg" alt="person">
                <p class="person__title">Financier</p>
                <div class="button-border person__button-border">
                    <button class="button person__button">Details</button>
                </div>
            </div>

            <div class="person">
                <img class="person__img" src="../static/img/person.svg" alt="person">
                <p class="person__title">Researcher</p>
                <div class="button-border person__button-border">
                    <button class="button person__button">Details</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="partners">
    <h3 class="partners__title">Solution <b class="partners__title_bold">partners</b></h3>

    <div class="partners__wrapper">
        <a href="https://bitstamp.net" target="_blank" class="partner">
            <img class="partner__img" src="../static/img/bitstamp-logo.png" alt="partner">
        </a>
        <a href="https://binance.com" target="_blank" class="partner">
            <img class="partner__img" src="../static/img/binance-logo.png" alt="partner">
        </a>
        <a href="https://localbitsoins.com" target="_blank" class="partner">
            <img class="partner__img" src="../static/img/localbitcoins-logo.png" alt="partner">
        </a>
        <a href="https://coinpayments.net" target="_blank" class="partner">
            <img class="partner__img" src="../static/img/coinpaiments-logo.png" alt="partner">
        </a>
    </div>

    <a href="https://shop.ledger.com/pages/ledger-nano-x?r=f6060a3fd3ed" target="_blank" class="partners__banner">
        <img class="partners__banner-img"
             src="../static/img/partners-banner.jpg"
             alt="Ledger Nano X - The secure hardware wallet">
    </a>
</div>


<svg aria-hidden="true" focusable="false" style="height: 0; width: 0; opacity: 0;">
    <linearGradient id="my-cool-gradient" y2="100%" x2="0">
        <stop offset="0%" stop-color="#43c056"/>
        <stop offset="100%" stop-color="#1c2124"/>
    </linearGradient>
</svg>

{% endblock content %}
