<div class="session">

    <div class="session__container">
        <div class="policy">
            <h2 class="policy__title">Privacy Policy</h2>
            <ol class="policy__ol">
                <li class="policy__li policy__li_bold">General Provisions:
                    <ol class="policy__ol_outside">
                        <li class="policy__li policy__li_pad">his Privacy Policy (“Privacy Policy”) regulates the
                            collection, storage,
                            use and disclosure
                            of
                            the
                            Personal Data and other information of Users in the process of using the site
                            https://lets.trade/
                            (“Site”).
                        </li>
                        <li class="policy__li policy__li_pad">Unless otherwise defined in this Privacy Policy, the terms
                            used in this
                            Privacy Policy have
                            the
                            same
                            meanings as in the Terms of Use.
                        </li>
                        <li class="policy__li policy__li_pad">The User must carefully read the terms of this Privacy
                            Policy before
                            using the Site. Using
                            the
                            Site,
                            the User confirms that he agrees to the Privacy Policy, and also accepts the Terms of Use.
                        </li>
                        <li class="policy__li policy__li_pad">In case of disagreement of the User with the terms of this
                            Privacy
                            Policy, the Site does not
                            bear
                            any legal responsibility for the results of further use of the Site by the User.
                        </li>
                        <li class="policy__li policy__li_pad">The Site is intended solely for use by persons who are
                            over 18 years of
                            age. Use of the Site
                            by
                            minors is prohibited, and the Site is not responsible for any consequences caused by the use
                            of
                            the
                            Site by minors.
                        </li>
                        <li class="policy__li policy__li_pad">By submitting its Personal Data to the Site, the User also
                            gives its
                            consent to the
                            collection,
                            storage, use and disclosure of its Personal Data in accordance with this Privacy Policy.
                        </li>
                        <li class="policy__li policy__li_pad">By using the Site, the User agrees that the Site is not
                            responsible for
                            any indirect,
                            incidental,
                            special, direct or punitive damages, including, but not limited to, lost profits, data,
                            reputation
                            or other material and non-material damages that may arise as a result of the use of the Site
                            by
                            the
                            User or the information posted on it.
                        </li>
                    </ol>
                </li>
                <li class="policy__li policy__li_bold">General Provisions:
                    <ol class="policy__ol_outside">
                        <li class="policy__li policy__li_pad">his Privacy Policy (“Privacy Policy”) regulates the
                            collection, storage,
                            use and disclosure
                            of
                            the
                            Personal Data and other information of Users in the process of using the site
                            https://lets.trade/
                            (“Site”).
                        </li>
                        <li class="policy__li policy__li_pad">Unless otherwise defined in this Privacy Policy, the terms
                            used in this
                            Privacy Policy have
                            the
                            same
                            meanings as in the Terms of Use.
                        </li>
                        <li class="policy__li policy__li_pad">The User must carefully read the terms of this Privacy
                            Policy before
                            using the Site. Using
                            the
                            Site,
                            the User confirms that he agrees to the Privacy Policy, and also accepts the Terms of Use.
                        </li>
                    </ol>
                </li>
            </ol>
        </div>
    </div>


    <footer class="session-footer">
        <div class="session-footer__content">
            <a class="session-footer__link" href="/get_session?next={{request.path}}">I Agree</a>
        </div>
    </footer>
</div>