{% extends "base.html" %}

{% block content %}

<div class="statistics">
    <div class="statistics__head">
        <h3 class="statistics__title">Statistics</h3>

        <div class="custom-select">
            <select>
                <option value="0">Select month</option>
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select>
        </div>
    </div>

    <table id="january" class="statistics-table statistics-table_active">
        <tr>
            <th>Coin</th>
            <th>Deposit %</th>
            <th>Bought Amount</th>
            <th>Enter Price</th>
            <th>Sold Amount</th>
            <th>Sell Price</th>
            <th>Profit %</th>
            <th>Profit (USD)</th>
        </tr>
        <tr>
            <td class="eth">ETH/USD</td>
            <td>2,5</td>
            <td>$ 2500</td>
            <td>$ 124,53</td>
            <td>$ 2581,71</td>
            <td>$ 128.6</td>
            <td class="profit">3.27</td>
            <td>$ 81.71</td>
        </tr>
        <tr>
            <td class="eth">ETH/USD</td>
            <td>2,5</td>
            <td>$ 2500</td>
            <td>$ 125,1</td>
            <td>$ 2561,95</td>
            <td>$ 128,2</td>
            <td class="profit">2,48</td>
            <td>$ 61.95</td>
        </tr>
        <tr>
            <td class="xrp">XRP/USD</td>
            <td>2,5</td>
            <td>$ 2500</td>
            <td>$ 0,334</td>
            <td>$ 2559,88</td>
            <td>$ 0,342</td>
            <td class="profit">2.4</td>
            <td>$ 59.88</td>
        </tr>
        <tr>
            <td class="xrp">XRP/USD</td>
            <td>2,5</td>
            <td>$ 2500</td>
            <td>$ 0,3255</td>
            <td>$ 2549,92</td>
            <td>$ 0,332</td>
            <td class="profit">2,00</td>
            <td>$ 49,92</td>
        </tr>
        <tr>
            <td class="btc">BTC/USD</td>
            <td>2,5</td>
            <td>$ 2500</td>
            <td>$ 3711</td>
            <td>$ 2542,44</td>
            <td>$ 3774</td>
            <td class="profit">1,697</td>
            <td>$ 42,44</td>
        </tr>
        <tr>
            <td class="btc">BTC/USD</td>
            <td>2,5</td>
            <td>$ 2500</td>
            <td>$ 3546</td>
            <td>$ 2532,43</td>
            <td>$ 3592</td>
            <td class="profit">1,297</td>
            <td>$ 32,43</td>
        </tr>
        <tr>
            <td class="xrp">XRP/USD</td>
            <td>2,5</td>
            <td>$ 2500</td>
            <td>$ 0,313</td>
            <td>$ 2555,91</td>
            <td>$ 0,32</td>
            <td class="profit">2,236</td>
            <td>$ 55,91</td>
        </tr>
        <tr>
            <td class="xrp">XRP/USD</td>
            <td>2,5</td>
            <td>$ 2500</td>
            <td>$ 0,294</td>
            <td>$ 2670,07</td>
            <td>$ 0,314</td>
            <td class="profit">6,80</td>
            <td>$ 170,07</td>
        </tr>
        <tr>
            <td class="xrp">XRP/USD</td>
            <td>2,5</td>
            <td>$ 2500</td>
            <td>$ 0,3105</td>
            <td>$ 2721,41</td>
            <td>$ 0,338</td>
            <td class="profit">8,86</td>
            <td>$ 221,42</td>
        </tr>
        <tr>
            <td class="eth">ETH/USD</td>
            <td>2,5</td>
            <td>$ 2500</td>
            <td>$ 105,3</td>
            <td>$ 2657,88</td>
            <td>$ 111,95</td>
            <td class="profit">6,32</td>
            <td>$ 157,8</td>
        </tr>
        <tr>
            <td>Total profit</td>
            <td>25</td>
            <td>$ 25000</td>
            <td></td>
            <td>$ 25933,61</td>
            <td></td>
            <td class="profit">3,73</td>
            <td>$ 933,61</td>
        </tr>
    </table>

    <table id="february" class="statistics-table">
        <tr>
            <th>Coin</th>
            <th>Deposit %</th>
            <th>Bought Amount</th>
            <th>Enter Price</th>
            <th>Sold Amount</th>
            <th>Sell Price</th>
            <th>Profit %</th>
            <th>Profit (USD)</th>
        </tr>
        <tr>
            <td class="eth">ETH/USD</td>
            <td>5</td>
            <td>$ 5000</td>
            <td>$ 102,6</td>
            <td>$ 5181,77</td>
            <td>$ 106,33</td>
            <td class="profit">3,64</td>
            <td>$ 181,77</td>
        </tr>
        <tr>
            <td class="btc">BTC/USD</td>
            <td>2,5</td>
            <td>$ 2500</td>
            <td>$ 3532</td>
            <td>$ 2609,00</td>
            <td>$ 3686</td>
            <td class="profit">4,36</td>
            <td>$ 109,00</td>
        </tr>
        <tr>
            <td class="eth">ETH/USD</td>
            <td>2,5</td>
            <td>$ 2500</td>
            <td>$ 137,2</td>
            <td>$ 2674,93</td>
            <td>$ 146,8</td>
            <td class="profit">7,00</td>
            <td>$ 174,93</td>
        </tr>
        <tr>
            <td class="btc">BTC/USD</td>
            <td>2,5</td>
            <td>$ 2500</td>
            <td>$ 3871</td>
            <td>$ 2549,73</td>
            <td>$ 3948</td>
            <td class="profit">1,99</td>
            <td>$ 49,73</td>
        </tr>
        <tr>
            <td class="xrp">XRP/USD</td>
            <td>5</td>
            <td>$ 5000</td>
            <td>$ 0,314</td>
            <td>$ 5286,62</td>
            <td>$ 0,332</td>
            <td class="profit">5,73</td>
            <td>$ 286,62</td>
        </tr>
        <tr>
            <td class="eth">ETH/USD</td>
            <td>2,5</td>
            <td>$ 2500</td>
            <td>$ 174,22</td>
            <td>$ 2419,35</td>
            <td>$ 168,6</td>
            <td class="profit profit_negative">3,22</td>
            <td>$ 80,64</td>
        </tr>
        <tr>
            <td class="xrp">XRP/USD</td>
            <td>2,5</td>
            <td>$ 2500</td>
            <td>$ 0,3025</td>
            <td>$ 2627,27</td>
            <td>$ 0,318</td>
            <td class="profit">5,09</td>
            <td>$ 127,27</td>
        </tr>
        <tr>
            <td class="xrp">XRP/USD</td>
            <td>5</td>
            <td>$ 5000</td>
            <td>$ 0,314</td>
            <td>$ 5350,32</td>
            <td>$ 0,336</td>
            <td class="profit">7,01</td>
            <td>$ 350,32</td>
        </tr>
        <tr>
            <td class="btc">BTC/USD</td>
            <td>2,5</td>
            <td>$ 2500</td>
            <td>$ 3900</td>
            <td>$ 2539,74</td>
            <td>$ 3962</td>
            <td class="profit">1,59</td>
            <td>$ 39,74</td>
        </tr>

        <tr>
            <td>Total profit</td>
            <td>30</td>
            <td>$ 30000</td>
            <td></td>
            <td>$ 31238,75</td>
            <td></td>
            <td class="profit">4,13</td>
            <td>$ 1238,75</td>
        </tr>
    </table>

    <table id="march" class="statistics-table">
        <tr>
            <th>Coin</th>
            <th>Deposit %</th>
            <th>Bought Amount</th>
            <th>Enter Price</th>
            <th>Sold Amount</th>
            <th>Sell Price</th>
            <th>Profit %</th>
            <th>Profit (USD)</th>
        </tr>
        <tr>
            <td class="xrp">XRP/USD</td>
            <td>2,5</td>
            <td>$ 2500</td>
            <td>$ 0,31</td>
            <td>$ 2580,64</td>
            <td>$ 0,32</td>
            <td class="profit">3,23</td>
            <td>$ 80,65</td>
        </tr>
        <tr>
            <td class="xrp">XRP/USD</td>
            <td>5</td>
            <td>$ 5000</td>
            <td>$ 0,2955</td>
            <td>$ 5423,01</td>
            <td>$ 0,321</td>
            <td class="profit">8,46</td>
            <td>$ 423,01</td>
        </tr>
        <tr>
            <td class="btc">BTC/USD</td>
            <td>2,5</td>
            <td>$ 2500</td>
            <td>$ 3967</td>
            <td>$ 2593,27</td>
            <td>$ 4115</td>
            <td class="profit">3,73</td>
            <td>$ 93,27</td>
        </tr>
        <tr>
            <td class="xrp">XRP/USD</td>
            <td>2,5</td>
            <td>$ 2500</td>
            <td>$ 0,3175</td>
            <td>$ 2582,68</td>
            <td>$ 0,328</td>
            <td class="profit">3,31</td>
            <td>$ 82,68</td>
        </tr>
        <tr>
            <td class="eth">ETH/USD</td>
            <td>2,5</td>
            <td>$ 2500</td>
            <td>$ 143</td>
            <td>$ 2562,94</td>
            <td>$ 146,6</td>
            <td class="profit">2,52</td>
            <td>$ 62,94</td>
        </tr>
        <tr>
            <td class="eth">ETH/USD</td>
            <td>2,5</td>
            <td>$ 2500</td>
            <td>$ 133,75</td>
            <td>$ 2609,35</td>
            <td>$ 139,6</td>
            <td class="profit">4,37</td>
            <td>$ 109,35</td>
        </tr>
        <tr>
            <td class="btc">BTC/USD</td>
            <td>2,5</td>
            <td>$ 2500</td>
            <td>$ 4090</td>
            <td>$ 2550,73</td>
            <td>$ 4173</td>
            <td class="profit">2,03</td>
            <td>$ 50,73</td>
        </tr>
        <tr>
            <td class="xrp">XRP/USD</td>
            <td>2,5</td>
            <td>$ 2500</td>
            <td>$ 0,3046</td>
            <td>$ 2634,60</td>
            <td>$ 0,321</td>
            <td class="profit">5,38</td>
            <td>$ 134,60</td>
        </tr>
        <tr>
            <td>Total profit</td>
            <td>22,5</td>
            <td>$ 22500</td>
            <td></td>
            <td>$ 23537,22</td>
            <td></td>
            <td class="profit">4,61</td>
            <td>$ 1037,22</td>
        </tr>
    </table>

    <table id="april" class="statistics-table">
        <tr>
            <th>Coin</th>
            <th>Deposit %</th>
            <th>Bought Amount</th>
            <th>Enter Price</th>
            <th>Sold Amount</th>
            <th>Sell Price</th>
            <th>Profit %</th>
            <th>Profit (USD)</th>
        </tr>
        <tr>
            <td class="xrp">XRP/USD</td>
            <td>2,5</td>
            <td>$ 2500</td>
            <td>$ 0,317</td>
            <td>$ 2641,96</td>
            <td>$ 0,335</td>
            <td class="profit">5,68</td>
            <td>$ 141,96</td>
        </tr>
        <tr>
            <td class="xrp">XRP/USD</td>
            <td>5</td>
            <td>$ 5000</td>
            <td>$ 0,322</td>
            <td>$ 5295,03</td>
            <td>$ 0,341</td>
            <td class="profit">5,90</td>
            <td>$ 295,03</td>
        </tr>
        <tr>
            <td class="xrp">XRP/USD</td>
            <td>5</td>
            <td>$ 5000</td>
            <td>$ 0,357</td>
            <td>$ 5210,08</td>
            <td>$ 0,372</td>
            <td class="profit">4,20</td>
            <td>$ 210,08</td>
        </tr>
        <tr>
            <td class="eth">ETH/USD</td>
            <td>2,5</td>
            <td>$ 2500</td>
            <td>$ 174,8</td>
            <td>$ 2457,09</td>
            <td>$ 171,8</td>
            <td class="profit profit_negative">1,71</td>
            <td>$ 42,90</td>
        </tr>
        <tr>
            <td class="btc">BTC/USD</td>
            <td>3</td>
            <td>$ 3000</td>
            <td>$ 5030</td>
            <td>$ 3116,30</td>
            <td>$ 5225</td>
            <td class="profit">3,88</td>
            <td>$ 116,30</td>
        </tr>
        <tr>
            <td class="xrp">XRP/USD</td>
            <td>3</td>
            <td>$ 3000</td>
            <td>$ 0,319</td>
            <td>$ 3230,41</td>
            <td>$ 0,3435</td>
            <td class="profit">7,68</td>
            <td>$ 230,41</td>
        </tr>
        <tr>
            <td class="xrp">XRP/USD</td>
            <td>3</td>
            <td>$ 3000</td>
            <td>$ 0,284</td>
            <td>$ 3142,61</td>
            <td>$ 0,2975</td>
            <td class="profit">4,75</td>
            <td>$ 142,61</td>
        </tr>
        <tr>
            <td>Total profit</td>
            <td>24</td>
            <td>$ 24000</td>
            <td></td>
            <td>$ 25093,5</td>
            <td></td>
            <td class="profit">4,56</td>
            <td>$ 1093,48</td>
        </tr>
    </table>

    <table id="may" class="statistics-table">
        <tr>
            <th>Coin</th>
            <th>Deposit %</th>
            <th>Bought Amount</th>
            <th>Enter Price</th>
            <th>Sold Amount</th>
            <th>Sell Price</th>
            <th>Profit %</th>
            <th>Profit (USD)</th>
        </tr>
        <tr>
            <td class="xrp">XRP/USD</td>
            <td>3</td>
            <td>$ 3000</td>
            <td>$ 0,3041</td>
            <td>$ 3191,38</td>
            <td>$ 0,324</td>
            <td class="profit">6,38</td>
            <td>$ 191,38</td>
        </tr>
        <tr>
            <td class="btc">BTC/USD</td>
            <td>3</td>
            <td>$ 3000</td>
            <td>$ 6450,64</td>
            <td>$ 2710,89</td>
            <td>$ 5829</td>
            <td class="profit profit_negative">9,63</td>
            <td>$ 289,11</td>
        </tr>
        <tr>
            <td class="eth">ETH/USD</td>
            <td>3</td>
            <td>$ 3000</td>
            <td>$ 204,5</td>
            <td>$ 3068,95</td>
            <td>$ 209,2</td>
            <td class="profit">2,3</td>
            <td>$ 68,95</td>
        </tr>
        <tr>
            <td class="xrp">XRP/USD</td>
            <td>3</td>
            <td>$ 3000</td>
            <td>$ 0,3062</td>
            <td>$ 3571,195</td>
            <td>$ 0,3645</td>
            <td class="profit">19,04</td>
            <td>$ 571,20</td>
        </tr>
        <tr>
            <td class="xrp">XRP/USD</td>
            <td>3</td>
            <td>$ 3000</td>
            <td>$ 0,338</td>
            <td>$ 3390,53</td>
            <td>$ 0,382</td>
            <td class="profit">13,02</td>
            <td>$ 390,53</td>
        </tr>
        <tr>
            <td class="xrp">XRP/USD</td>
            <td>3</td>
            <td>$ 3000</td>
            <td>$ 0,37</td>
            <td>$ 3543,24</td>
            <td>$ 0,437</td>
            <td class="profit">18,11</td>
            <td>$ 543,24</td>
        </tr>
        <tr>
            <td class="eth">ETH/USD</td>
            <td>3</td>
            <td>$ 3000</td>
            <td>$ 184,66</td>
            <td>$ 3585,51</td>
            <td>$ 220,7</td>
            <td class="profit">19,52</td>
            <td>$ 585,51</td>
        </tr>
        <tr>
            <td class="xrp">XRP/USD</td>
            <td>3</td>
            <td>$ 3000</td>
            <td>$ 0,3653</td>
            <td>$ 3211,059</td>
            <td>$ 0,391</td>
            <td class="profit">7,04</td>
            <td>$ 211,06</td>
        </tr>
        <tr>
            <td class="xrp">XRP/USD</td>
            <td>2,5</td>
            <td>$ 2500</td>
            <td>$ 0,3882</td>
            <td>$ 2724,11</td>
            <td>$ 0,423</td>
            <td class="profit">8,96</td>
            <td>$ 224,11</td>
        </tr>
        <tr>
            <td class="xrp">XRP/USD</td>
            <td>3</td>
            <td>$ 3000</td>
            <td>$ 0,3653</td>
            <td>$ 3170,00</td>
            <td>$ 0,386</td>
            <td class="profit">5,67</td>
            <td>$ 170,00</td>
        </tr>
        <tr>
            <td class="xrp">XRP/USD</td>
            <td>2,5</td>
            <td>$ 2500</td>
            <td>$ 0,3742</td>
            <td>$ 2632,28</td>
            <td>$ 0,3940</td>
            <td class="profit">5,29</td>
            <td>$ 132,28</td>
        </tr>
        <tr>
            <td class="xrp">XRP/USD</td>
            <td>2,5</td>
            <td>$ 2500</td>
            <td>$ 0,3822</td>
            <td>$ 2809,39</td>
            <td>$ 0,4295</td>
            <td class="profit">12,38</td>
            <td>$ 309,39</td>
        </tr>
        <tr>
            <td class="xrp">XRP/USD</td>
            <td>3</td>
            <td>$ 3000</td>
            <td>$ 0,4155</td>
            <td>$ 3145,13</td>
            <td>$ 0,4356</td>
            <td class="profit">4,84</td>
            <td>$ 145,13</td>
        </tr>
        <tr>
            <td>Total profit</td>
            <td>37,5</td>
            <td>$ 37500</td>
            <td></td>
            <td>$ 40753,68</td>
            <td></td>
            <td class="profit">8,68</td>
            <td>$ 3253,68</td>
        </tr>
    </table>

    <table id="june" class="statistics-table">
        <tr>
            <th>Coin</th>
            <th>Deposit %</th>
            <th>Bought Amount</th>
            <th>Enter Price</th>
            <th>Sold Amount</th>
            <th>Sell Price</th>
            <th>Profit %</th>
            <th>Profit (USD)</th>
        </tr>
        <tr>
            <td class="xrp">XRP/USD</td>
            <td>3</td>
            <td>$ 3000</td>
            <td>$ 0,4115</td>
            <td>$ 3200,49</td>
            <td>$ 0,439</td>
            <td class="profit">6,68</td>
            <td>$ 200,49</td>
        </tr>
        <tr>
            <td class="xrp">XRP/USD</td>
            <td>3</td>
            <td>$ 3000</td>
            <td>$ 0,4499</td>
            <td>$ 3220,72</td>
            <td>$ 0,483</td>
            <td class="profit">7,36</td>
            <td>$ 220,72</td>
        </tr>
        <tr>
            <td>Total profit</td>
            <td>6</td>
            <td>$ 6000</td>
            <td></td>
            <td>$ 6421,20</td>
            <td></td>
            <td class="profit">7,02</td>
            <td>$ 421,20</td>
        </tr>
    </table>

    <table id="july" class="statistics-table">
        <tr>
            <th>Coin</th>
            <th>Deposit %</th>
            <th>Bought Amount</th>
            <th>Enter Price</th>
            <th>Sold Amount</th>
            <th>Sell Price</th>
            <th>Profit %</th>
            <th>Profit (USD)</th>
        </tr>
        <tr>
            <td class="btc">BTC/USD</td>
            <td>3</td>
            <td>$ 3000</td>
            <td>$ 10260</td>
            <td>$ 3078,95</td>
            <td>$ 10530</td>
            <td class="profit">2,63</td>
            <td>$ 78,95</td>
        </tr>
        <tr>
            <td class="btc">BTC/USD</td>
            <td>2</td>
            <td>$ 2000</td>
            <td>$ 11260</td>
            <td>$ 2103,02</td>
            <td>$ 11840</td>
            <td class="profit">5,15</td>
            <td>$ 103,02</td>
        </tr>
        <tr>
            <td class="btc">BTC/USD</td>
            <td>2</td>
            <td>$ 2000</td>
            <td>$ 11370</td>
            <td>$ 2052,77</td>
            <td>$ 11670</td>
            <td class="profit">2,64</td>
            <td>$ 52,77</td>
        </tr>
        <tr>
            <td class="btc">BTC/USD</td>
            <td>2</td>
            <td>$ 2000</td>
            <td>$ 11130</td>
            <td>$ 2053,91</td>
            <td>$ 11430</td>
            <td class="profit">2,70</td>
            <td>$ 53,91</td>
        </tr>
        <tr>
            <td class="xrp">XRP/USD</td>
            <td>5</td>
            <td>$ 5000</td>
            <td>$ 0,3276</td>
            <td>$ 5235,04</td>
            <td>$ 0,343</td>
            <td class="profit">4,70</td>
            <td>$ 235,04</td>
        </tr>
        <tr>
            <td class="xrp">XRP/USD</td>
            <td>4</td>
            <td>$ 4000</td>
            <td>$ 0,303</td>
            <td>$ 4145,21</td>
            <td>$ 0,314</td>
            <td class="profit">3,63</td>
            <td>$ 145,21</td>
        </tr>
        <tr>
            <td class="btc">BTC/USD</td>
            <td>2</td>
            <td>$ 2000</td>
            <td>$ 10340</td>
            <td>$ 2085,11</td>
            <td>$ 10780</td>
            <td class="profit">4,26</td>
            <td>$ 85,11</td>
        </tr>
        <tr>
            <td class="xrp">XRP/USD</td>
            <td>5</td>
            <td>$ 5000</td>
            <td>$ 0,294</td>
            <td>$ 5212,59</td>
            <td>$ 0,3065</td>
            <td class="profit">4,25</td>
            <td>$ 212,59</td>
        </tr>
        <tr>
            <td class="xrp">XRP/USD</td>
            <td>5</td>
            <td>$ 5000</td>
            <td>$ 0,3016</td>
            <td>$ 5263,59</td>
            <td>$ 0,3175</td>
            <td class="profit">5,27</td>
            <td>$ 263,59</td>
        </tr>
        <tr>
            <td class="xrp">XRP/USD</td>
            <td>2,5</td>
            <td>$ 2500</td>
            <td>$ 0,306</td>
            <td>$ 2589,87</td>
            <td>$ 0,317</td>
            <td class="profit">3,59</td>
            <td>$ 89,87</td>
        </tr>
        <tr>
            <td class="xrp">XRP/USD</td>
            <td>2,5</td>
            <td>$ 2500</td>
            <td>$ 0,3093</td>
            <td>$ 2659,23</td>
            <td>$ 0,329</td>
            <td class="profit">6,37</td>
            <td>$ 159,23</td>
        </tr>
        <tr>
            <td class="xrp">XRP/USD</td>
            <td>2,5</td>
            <td>$ 2500</td>
            <td>$ 0,3093</td>
            <td>$ 2659,23</td>
            <td>$ 0,329</td>
            <td class="profit">6,37</td>
            <td>$ 159,23</td>
        </tr>
        <tr>
            <td class="xrp">XRP/USD</td>
            <td>2,5</td>
            <td>$ 2500</td>
            <td>$ 0,3093</td>
            <td>$ 2659,23</td>
            <td>$ 0,329</td>
            <td class="profit">6,37</td>
            <td>$ 159,23</td>
        </tr>
        <tr>
            <td class="xrp">XRP/USD</td>
            <td>2,5</td>
            <td>$ 2500</td>
            <td>$ 0,3074</td>
            <td>$ 2626,87</td>
            <td>$ 0,323</td>
            <td class="profit">5,07</td>
            <td>$ 126,87</td>
        </tr>
        <tr>
            <td class="xrp">XRP/USD</td>
            <td>2,5</td>
            <td>$ 2500</td>
            <td>$ 0,3074</td>
            <td>$ 2626,87</td>
            <td>$ 0,323</td>
            <td class="profit">5,07</td>
            <td>$ 126,87</td>
        </tr>
        <tr>
            <td>Total profit</td>
            <td>45</td>
            <td>$ 45000</td>
            <td></td>
            <td>$ 47051,49</td>
            <td></td>
            <td class="profit">4,56</td>
            <td>$ 2051,49</td>
        </tr>
    </table>

    <table id="august" class="statistics-table">
        <tr>
            <th>Coin</th>
            <th>Deposit %</th>
            <th>Bought Amount</th>
            <th>Enter Price</th>
            <th>Sold Amount</th>
            <th>Sell Price</th>
            <th>Profit %</th>
            <th>Profit (USD)</th>
        </tr>
        <tr>
            <td class="xrp">XRP/USD</td>
            <td>2,5</td>
            <td>$ 2500</td>
            <td>$ 0,3059</td>
            <td>$ 2611,15</td>
            <td>$ 0,3195</td>
            <td class="profit">4,45</td>
            <td>$ 111,15</td>
        </tr>
        <tr>
            <td class="xrp">XRP/USD</td>
            <td>2,5</td>
            <td>$ 2500</td>
            <td>$ 0,314</td>
            <td>$ 2619,43</td>
            <td>$ 0,329</td>
            <td class="profit">4,78</td>
            <td>$ 119,43</td>
        </tr>
        <tr>
            <td class="btc">BTC/USD</td>
            <td>2,5</td>
            <td>$ 2500</td>
            <td>$ 11680</td>
            <td>$ 2540,67</td>
            <td>$ 11870</td>
            <td class="profit">1,63</td>
            <td>$ 40,67</td>
        </tr>
         <tr>
            <td class="btc">BTC/USD</td>
            <td>2,5</td>
            <td>$ 2500</td>
            <td>$ 11680</td>
            <td>$ 2540,67</td>
            <td>$ 11870</td>
            <td class="profit">1,63</td>
            <td>$ 40,67</td>
        </tr>
        <tr>
            <td class="xrp">XRP/USD</td>
            <td>5</td>
            <td>$ 5000</td>
            <td>$ 0,233</td>
            <td>$ 5429,18</td>
            <td>$ 0,253</td>
            <td class="profit">8,58</td>
            <td>$ 429,18</td>
        </tr>
        <tr>
            <td class="btc">BTC/USD</td>
            <td>2,5</td>
            <td>$ 2500</td>
            <td>$ 9550</td>
            <td>$ 2596,86</td>
            <td>$ 9920</td>
            <td class="profit">3,87</td>
            <td>$ 96,86</td>
        </tr>
        <tr>
            <td class="xrp">XRP/USD</td>
            <td>5</td>
            <td>$ 5000</td>
            <td>$ 0,2341</td>
            <td>$ 5617,26</td>
            <td>$ 0,263</td>
            <td class="profit">12,35</td>
            <td>$ 617,26</td>
        </tr>
        <tr>
            <td class="xrp">XRP/USD</td>
            <td>5</td>
            <td>$ 5000</td>
            <td>$ 0,243</td>
            <td>$ 5720,16</td>
            <td>$ 0,278</td>
            <td class="profit">14,40</td>
            <td>$ 720,16</td>
        </tr>
        <tr>
            <td class="xrp">XRP/USD</td>
            <td>3</td>
            <td>$ 3000</td>
            <td>$ 0,275</td>
            <td>$ 3141,81</td>
            <td>$ 0,288</td>
            <td class="profit">4,73</td>
            <td>$ 141,82</td>
        </tr>
        <tr>
            <td>Total profit</td>
            <td>30,5</td>
            <td>$ 30500</td>
            <td></td>
            <td>$ 32817,19</td>
            <td></td>
            <td class="profit">7,60</td>
            <td>$ 2317,19</td>
        </tr>
    </table>
</div>

{% endblock content %}