*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  background: transparent;
}

input[type="text"] {
  //-webkit-border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a,
label {
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  font-family: "Gilroy";
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: none;
}

$gradient: linear-gradient(to right, #80ec68, #159e49);

.body-popup-active {
  height: 100%;
  overflow: hidden;
}

.main {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background: #000000;
}

@keyframes navHoverAnimation {
  from {
    background-size: 1% 2px;
  }
  to {
    background-size: 100% 2px;
  }
}

.social {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9px;
  font-size: 16px;
  color: #fff;

  &:hover {
    background: $gradient;
  }

  @media (max-width: 640px) {
    width: 20px;
    height: 20px;
  }
}

.menu-popup {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 9999;
  background-color: #0e1112;
  overflow-y: auto;

  &_active {
    display: block;
  }

  &__body {
    width: 100%;
    display: flex;
    min-height: 100%;
    flex-flow: column;
    align-items: center;
  }

  &__logo {
    position: absolute;
    top: 22px;
    left: 4.5rem;
    // background: url(../img/logo-lt.svg) no-repeat !important;

    @media (max-width: 640px) {
      left: 1.5rem;
    }
  }

  &__close {
    position: absolute;
    cursor: pointer;
    right: 4.5rem;
    top: 1.5rem;
    width: 20px;
    height: 20px;
    background: url(../img/ic-close-white.svg) no-repeat center / contain;

    @media (max-width: 640px) {
      top: 1.5rem;
      right: 1.5rem;
    }
  }

  &__list {
    width: 100%;
    list-style: none;
    margin: auto 0;
    padding: 4.5rem 0 0;
    display: flex;
    flex-flow: column;
    align-items: center;

    li {
      width: 100%;
      // text-align: center;
      text-align: right;

      &.active-list-item {
        background: $gradient no-repeat left center / 100% 2px;
      }
    }
  }

  &__list-item {
    padding: 0 1.5rem;
    background: #0e1112;
    font-weight: 500;
    color: #ffffff;
    // line-height: 50px;
    line-height: 5rem;
  }

  &__social-block {
    width: 100%;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
  }

  &__social {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    font-size: 21px;
    height: 2.5rem;
    width: 2.5rem;
  }
}

.nav {
  height: 100%;
  display: flex;
  list-style: none;

  &__item-wrapper {
    padding: 0 1rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  &__item {
    white-space: nowrap;
    font-size: 16px;
    font-weight: 500;
    color: #fff;

    &:hover {
      animation: {
        duration: 0.3s;
        timing-function: ease-in-out;
        iteration-count: 1;
        fill-mode: forwards;
        name: navHoverAnimation;
      }
      background: {
        image: $gradient;
        repeat: no-repeat;
        position: left bottom;
      }

      @media (hover: none) and (pointer: coarse) {
        animation: initial;
        background: initial;
      }
    }
  }
}

.button-border {
  border: 1.5px solid transparent;
  border-radius: 0.5rem;
  background-image: linear-gradient(#161a1c, #161a1c), linear-gradient(90deg, #fff, #fff);
  background-origin: border-box;
  background-clip: content-box, border-box;

  @media (max-width: 768px) {
    padding: 0 14px;
    background: transparent;
    border: 1.5px solid #fff;
  }

  &:hover {
    background-image: linear-gradient(#161a1c, #161a1c), $gradient;

    @media (max-width: 768px) {
      background: transparent;
    }
  }
}

.button {
  white-space: nowrap;
  line-height: 35px;
  font-weight: 500;
  padding: 0 14px;
  color: #fff;

  @media (max-width: 768px) {
    text-align: center;
    padding: 0;
  }
}

.header {
  $height: 90px;

  z-index: 999;
  position: sticky;
  top: 0;
  width: 100%;
  height: $height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4.5rem;
  background-color: #000;
  //box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

  @media (max-width: 1024px) {
    height: 72px;
  }

  @media (max-width: 640px) {
    padding: 0 1.5rem;
    box-shadow: none;
    background-color: #141417;
  }

  &__logo {
    @media (max-width: 1024px) {
      // background-image: url(../img/logo-lt.svg) !important;
    }
  }

  &__nav {
    margin-right: -1rem;

    @media (max-width: 1024px) {
      display: none;
    }
  }

  &__item {
    color: rgba(255, 255, 255, 0.8);
    line-height: 2.4;
  }

  &__menu-btn {
    display: none;

    @media (max-width: 1024px) {
      display: inline-block;
    }

    &:before {
      // font-family: "Font Awesome 5 Free";
      // font-size: 1.5rem;
      // color: #fff;
      // content: "\f0c9";
      // font-weight: 900;

      content: "";
      display: block;
      width: 20px;
      height: 20px;
      background: url(../img/ic-menu-purpur.svg) no-repeat center/contain;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding: 13px 20px;
    border-radius: 14px;
    background: linear-gradient(180deg, #8eeeff 0%, #0090aa 100%);
    // box-shadow: inset 0 0 24px 0 #1b9ddf;
    // border: 1.5px solid #1b9ddf;

    &_mob {
      margin-bottom: 50px;
      display: flex !important;
    }

    &::after {
      content: "";
      width: 29px;
      height: 24px;
      margin-left: 20px;
      background: url(../img/ic-telegram-new.svg) no-repeat center;
    }

    // &:hover {
    //   animation-duration: 0.3s;
    //   animation-timing-function: ease-in-out;
    //   animation-iteration-count: 1;
    //   animation-fill-mode: forwards;
    //   animation-name: navHoverAnimation;
    //   background-image: linear-gradient(90deg, #80ec68, #159e49);
    //   background-repeat: no-repeat;
    //   background-position: 0 100%;
    // }

    @media (max-width: 1024px) {
      display: none;
    }
  }

  &__button-border {
    background-image: linear-gradient(#000, #000),
      linear-gradient(90deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));

    &:hover {
      background-image: linear-gradient(#000, #000), $gradient;
    }
  }
}

.logo {
  width: 200px;
  height: 50px;
  margin-right: 1rem;
  background: url(../img/logo-new.svg) no-repeat left center / contain;

  @media (max-width: 1024px) {
    height: 2.5rem;
  }

  @media (max-width: 640px) {
    width: 131px;
    height: 24px;
  }
}

.footer {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  // background: linear-gradient(to right, #80ec68, #159e49) no-repeat center top / 100% 1px;
  margin-top: auto;
  position: relative;

  &::before {
    top: 0;
    left: 37px;
    right: 37px;
    height: 4px;
    content: "";
    display: block;
    position: absolute;
    background: linear-gradient(180deg, #75df5f 17.19%, #00b545 85.42%);
  }

  &__body {
    width: 100%;
    display: flex;
    flex-flow: column;
    max-width: 1254px;
    padding: 5rem 4.5rem;

    @media (max-width: 640px) {
      padding: 3.5rem 1rem 2.5rem;
    }
  }

  &__head {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 640px) {
      justify-content: center;
    }
  }

  &__logo {
    @media (max-width: 640px) {
      width: 128px;
      height: 32px;
    }
  }

  &__social-block {
    display: flex;
    margin-left: -0.5rem;
    margin-right: -0.5rem;

    @media (max-width: 640px) {
      display: none;
    }
  }

  &__social-block-mob {
    display: none;
    justify-content: center;

    @media (max-width: 640px) {
      display: flex;
    }
  }

  &__nav {
    margin-top: 6rem;
    margin-left: -1rem;
    margin-right: -1rem;
    justify-content: flex-start;
    flex-flow: wrap;
    height: auto;

    @media (max-width: 640px) {
      margin: 3.5rem 0 2rem;
      flex-flow: column;
      align-items: center;
    }
  }

  &__item-wrapper {
    @media (max-width: 640px) {
      padding: 0;
    }
  }

  &__item {
    font-size: 20px;
    font-weight: 500;
    line-height: 2.4rem;
    letter-spacing: 0.25px;

    @media (max-width: 640px) {
      font-size: 16px;
      text-align: center;
      line-height: normal;
      letter-spacing: normal;
      margin-bottom: 1.5rem;
    }
  }

  &__social {
    // margin-right: 0.5rem;
    // margin-left: 0.5rem;
    margin-right: 15px;
    margin-left: 15px;

    &:hover {
      background: transparent;
    }
  }

  &__social-obj {
    width: 100%;
    height: 100%;
  }

  &__links-mob {
    display: none;
    padding-top: 3.5rem;
    justify-content: center;

    @media (max-width: 640px) {
      display: flex;
    }
  }

  &__copyright {
    width: 100%;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: calc((100% - 1110px) / 2);
    padding-right: calc((100% - 1110px) / 2);

    @media (max-width: 1172px) {
      padding-left: 4.5rem;
      padding-right: 4.5rem;
    }

    @media (max-width: 640px) {
      height: auto;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-bottom: 2rem;
      justify-content: center;
    }

    &-links {
      display: flex;

      @media (max-width: 640px) {
        display: none;
      }
    }

    &-text {
      font-size: 16px;
      font-weight: 500;
      color: rgba(255, 255, 255, 0.4);

      @media (max-width: 640px) {
        font-size: 14px;
      }

      &_link {
        transition: color 0.2s ease;

        & + & {
          margin-left: 2rem;
        }

        &:hover {
          color: #ffffff;
        }
      }
    }
  }
}

.container {
  max-width: 1168px;
  padding-left: 4.5rem;
  padding-right: 4.5rem;

  @media (max-width: 640px) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.alert-wrapper {
  z-index: 999;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
  background-color: rgba(14, 17, 18, 0.4);
}

.alert {
  width: 100%;
  max-width: 440px;
  padding: 2rem 1.5rem 1.5rem;
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  background-color: rgba(14, 17, 18, 0.8);

  @media (max-width: 640px) {
    padding: 1rem;
  }

  &__text {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 1.5rem;

    @media (max-width: 640px) {
      margin-bottom: 1rem;
    }
  }

  &__button {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.29;
    letter-spacing: 0.8px;
    color: #ffffff;
    padding: 12px 2rem;
    cursor: pointer;
    border-radius: 8px;
    background-image: linear-gradient(to right, #80ec68, #159e49);
  }
}
