@import "~@fancyapps/fancybox/dist/jquery.fancybox.min.css";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~chartist-webpack/dist/scss/chartist";
@import "~slick-carousel/slick/slick-theme.css";
@import "~slick-carousel/slick/slick.css";

@font-face {
  font-family: 'Gilroy';
  src: url(../fonts/999-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url(../fonts/999-Medium.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url(../fonts/999-SemiBold.ttf) format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/999-RegularItalic.ttf) format('truetype');
    font-weight: normal;
    font-style: italic;
}

@import "base";
@import "faq";
@import "guides";
@import "main";
@import "login";
@import "statistics";